body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: linear-gradient(135deg, #2d4238, #b6c1cf);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0px;
}



h1 {
    color: rgb(255, 255, 255);
    font-size: 50px;

    text-align: center;
    margin-bottom: 25px;
}

.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    flex-grow: 1;
    padding: 12px;
    border: 2px solid
}

.tarefa {

    margin-left: 1px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
}

.botão {
    
    color: rgb(255, 255, 255);
    margin-bottom: 5px;
    background-color: rgb(71, 187, 223);
    padding: 8px;
    border-radius: 6px;
}

li .delete {

    color: red;
    cursor: pointer;
    font-weight: bold;
    padding: 5px;

}

li {
    margin: 10px;
    padding: 8px;
    border: 1px solid #b6c1cf;
    background: #f9f9f9;
    display: flex;
    border-radius: 5px;
    justify-content: space-between;
}